
<div class="container mx-auto p-4">
  <!-- <p class="text-2xl font-bold mb-1">Upcoming Events</p>  -->

  <!-- Search Bar -->
  <div class="mb-4 flex justify-center">
    <input 
      [(ngModel)]="searchText" 
      (keyup.enter)="searchEvents()"
      type="text" 
      class="px-3 py-2 border rounded w-1/2 mb-1 " 
      placeholder="Search events by Event name, Venue, Organiser name..."
    >
    <button 
      (click)="searchEvents()" 
      class="bg-blue-500 text-white px-3 py-2 rounded m-1"
    >
      Search
    </button>
  </div>
  
  <div class="mb-4 flex flex-wrap items-center justify-between">
      <div class="mr-4 mb-2">
          <p>Filter By Category: 
          <button 
              (click)="selectedCategory = null; filterEvents()" 
              class="px-2 py-1.5 rounded text-sm transition-colors duration-200 ease-in-out"
              [ngClass]="{'bg-blue-500 text-white hover:bg-blue-600': selectedCategory === null, 'bg-gray-200 hover:bg-gray-300': selectedCategory !== null}"
          >
              All
          </button>
          <button 
              *ngFor="let category of categories" 
              (click)="selectedCategory = category; filterEvents()"
              class="ml-2 px-2 py-1.5 rounded text-sm transition-colors duration-200 ease-in-out"
              [ngClass]="{'bg-blue-500 text-white hover:bg-blue-600': selectedCategory === category, 'bg-gray-200 hover:bg-gray-300': selectedCategory !== category}"
          >
              {{ category }}
          </button>
        </p>
      </div>
      
      <div class="flex items-center space-x-2">
        <p>Filter By Date: 
        <mat-form-field class="w-28 text-sm h-auto mr-2"> <!-- Made height auto and width to match button -->
            <mat-label class="text-sm">Start date</mat-label>
            <input matInput [matDatepicker]="startPicker" [(ngModel)]="startDate" class="text-sm py-1" >
            <mat-datepicker-toggle matSuffix [for]="startPicker" class="text-gray-500"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
        
        <mat-form-field class="w-28 text-sm h-auto"> <!-- Made height auto and width to match button -->
            <mat-label class="text-sm">End date</mat-label>
            <input matInput [matDatepicker]="endPicker" [(ngModel)]="endDate" class="text-sm py-1">
            <mat-datepicker-toggle matSuffix [for]="endPicker" class="text-gray-500"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
        
        <button 
            (click)="filterEvents()" 
            class="ml-2 bg-green-500 hover:bg-green-600 text-white px-3 py-1 rounded text-sm transition-colors duration-200 ease-in-out"
        >
            Apply Filters
        </button>
        </p>
      </div>
    
      <div *ngIf="error != ''" class="text-xl text-red-500 text-center flex justify-center">{{error}}</div>
      <div *ngIf="error == ''" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <div *ngFor="let event of events" class="border p-2 rounded shadow flex flex-col h-full"> <!-- Reduced padding -->
           
            <div class="relative w-full h-64 overflow-hidden rounded-lg mb-4">
                <div class="absolute inset-0 flex transition-transform duration-500 ease-in-out" [ngStyle]="{'transform': 'translateX(' + (-currentImageIndex[event.id] * 100) + '%)'}">
                    <div *ngFor="let imagePath of event.imagePaths" class="w-full flex-shrink-0">
                        <img [src]="imagePath" alt="Event Image" class="object-cover w-full h-full">
                    </div>
                </div>
                <button (click)="prevImage(event)" class="absolute top-1/2 left-4 transform -translate-y-1/2 bg-white p-1 rounded-full shadow"> <!-- Reduced size of prev/next buttons -->
                    ❮
                </button>
                <button (click)="nextImage(event)" class="absolute top-1/2 right-4 transform -translate-y-1/2 bg-white p-1 rounded-full shadow"> <!-- Reduced size of prev/next buttons -->
                    ❯
                </button>
            </div>
            <p class="text-xl text-base font-semibold mb-2 truncate">{{ event.eventName }}</p> <!-- Reduced title font size -->
            <p class="flex-1 mb-2">{{ event.description }}</p>
            <p class="text-xm mb-2">Date: {{ event.date | date: 'medium' }}</p> 
            <!-- <ng-container *ngIf="event.bookedTickets < event.totalTickets">
                <p class="text-xm font-bold mb-2">Price: ₹{{ event.ticketPrice }}</p>
            </ng-container>
            <ng-container *ngIf="event.bookedTickets >= event.totalTickets">
                <p class="font-bold text-red-500 mb-2">Sold Out</p>
            </ng-container> -->

            <button [routerLink]="['/event', event.id]" class="mt-auto bg-blue-500 text-white px-3 py-2 rounded">
                Book Now
            </button>
        </div>
    </div>
  </div>

</div>
