
<p class="text-center font-bold text-3xl my-2">My Bookings</p>
<div class="flex flex-col mx-3 gap-6">
  @for (booking of bookingHistory; track $index) {
  <div class="shadow-xl px-3 py-2">
    <div>
      <h3 class="text-lg font-semibold text-gray-700">
        {{ booking.eventName }}
      </h3>
      <p class="text-sm text-gray-600">{{ booking.description }}</p>
    </div>

    <div class="flex justify-between items-center">
      <div class="flex items-center">
        <svg
          class="w-5 h-5 text-gray-500 mr-2"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
          ></path>
        </svg>
        <span class="text-gray-700">{{ booking.eventDate }}</span>
      </div>
      <div class="flex items-center">
        <svg
          class="w-5 h-5 text-gray-500 mr-2"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
          ></path>
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"
          ></path>
        </svg>
        <span class="text-gray-700">{{ booking.eventLocation }}</span>
      </div>
    </div>

    <div class="flex justify-between items-center bg-gray-100 p-3 rounded-md">
      <div>
        <p class="text-sm text-gray-600">Total Price</p>
        <p class="text-lg font-bold text-gray-800"> ₹ {{ booking.pricePaid }}</p>
      </div>
      <div>
        <p class="text-sm text-gray-600">Tickets</p>
        <p class="text-lg font-bold text-gray-800">{{ booking.noOfTickets }}</p>
      </div>
    </div>

    <!-- Cancel Booking Button -->
    <div class="flex justify-end mt-2">
      <button class="bg-red-500 text-white px-4 py-2 rounded" (click)="cancelBooking(booking.id)">Cancel</button>
    </div>
    
  </div>
  }
</div>
