
<div class="container mx-auto p-4 max-w-md">
    <p class="text-3xl font-bold mb-4">Sign Up</p>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="space-y-4">

      <!-- firstName field -->
      <div>
        <label for="firstName" class="block mb-2">First Name*:</label>
        <input type="text" id="firstName" formControlName="firstName"
               class="w-full px-3 py-2 border rounded" />
        <div *ngIf="signupForm.get('firstName')?.invalid && signupForm.get('firstName')?.touched" 
             class="text-red-500 mt-1">
          <small *ngIf="signupForm.get('firstName')?.errors?.['required']">First Name is required.</small>
        </div>
      </div>

      <!-- lastName Field -->
      <div>
        <label for="lastName" class="block mb-2">Last Name*:</label>
        <input type="text" id="lastName" formControlName="lastName"
               class="w-full px-3 py-2 border rounded" />
      </div>

        <!-- Username Field -->
      <div>
        <label for="username" class="block mb-2">Username:</label>
        <input type="text" id="username" formControlName="username"
               class="w-full px-3 py-2 border rounded"
               (input)="convertToLowercase('username')" />
        <div *ngIf="signupForm.get('username')?.invalid && signupForm.get('username')?.touched" 
             class="text-red-500 mt-1">
          <small *ngIf="signupForm.get('username')?.errors?.['required']">Username is required.</small>
        </div>
      </div>

       <!-- Email Field -->
      <div>
        <label for="email" class="block mb-2">Email:</label>
        <input type="email" id="email" formControlName="email"
               class="w-full px-3 py-2 border rounded"
               (input)="convertToLowercase('email')" />
        <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched" 
             class="text-red-500 mt-1">
          <small *ngIf="signupForm.get('email')?.errors?.['required']">Email is required.</small>
          <small *ngIf="signupForm.get('email')?.errors?.['email']">Please enter a valid email.</small>
        </div>
      </div>

      <!-- Phone Number Field -->
      <div>
        <label for="phoneNumber" class="block mb-2">Phone Number:</label>
        <input type="tel" id="phoneNumber" formControlName="phoneNumber"
               class="w-full px-3 py-2 border rounded" />
        <div *ngIf="signupForm.get('phoneNumber')?.invalid && signupForm.get('phoneNumber')?.touched" 
             class="text-red-500 mt-1">
          <small *ngIf="signupForm.get('phoneNumber')?.errors?.['pattern']">Phone number must be 10 digits.</small>
        </div>
      </div>

      <!-- preferredLanguage Field -->
      <div>
        <label for="preferredLanguage" class="block mb-2">Preferred Language*:</label>
        <input type="text" id="preferredLanguage" formControlName="preferredLanguage"
               class="w-full px-3 py-2 border rounded" />
        <div *ngIf="signupForm.get('preferredLanguage')?.invalid && signupForm.get('preferredLanguage')?.touched" 
             class="text-red-500 mt-1">
          <small *ngIf="signupForm.get('preferredLanguage')?.errors?.['required']">Preferred Language is required.</small>
        </div>
      </div>

      <!-- preferred Currency field -->
      <div>
        <label for="preferredCurrency" class="block mb-2">Preferred Currency*:</label>
        <input type="text" id="preferredCurrency" formControlName="preferredCurrency"
               class="w-full px-3 py-2 border rounded" />
        <div *ngIf="signupForm.get('preferredCurrency')?.invalid && signupForm.get('preferredCurrency')?.touched" 
             class="text-red-500 mt-1">
          <small *ngIf="signupForm.get('preferredCurrency')?.errors?.['required']">Preferred Currency is required.</small>
        </div>
      </div>

      <!-- Password Field -->
      <div>
        <label for="password" class="block mb-2">Password:</label>
        <input type="password" id="password" formControlName="password"
               class="w-full px-3 py-2 border rounded">
        <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched" 
             class="text-red-500 mt-1">
          <small *ngIf="signupForm.get('password')?.errors?.['required']">Password is required.</small>
          <small *ngIf="signupForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters.</small>
          <small *ngIf="signupForm.get('password')?.errors?.['passwordStrength']">
            Password must contain at least 1 uppercase letter, 1 lowercase letter, 1 digit, and 1 special character.
          </small>
        </div>
      </div>

      <!-- Submit Button -->
      <button type="submit" 
              [disabled]="signupForm.invalid"
              class="w-full bg-blue-500 text-white px-4 py-2 rounded">
        Sign Up
      </button>
    </form>
    <p class="mt-4 text-center">
      Already have an account? <a routerLink="/login" class="text-blue-500">Login</a>
    </p>
    <div *ngIf="error" class="mt-4 text-red-500 text-center">
      {{ error }}
    </div>
  </div>